{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static '/css/arithmetic.css' %}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<title>Проверка арифметики</title>
</head>
<body>
  <body style="background: #faf5d1">
<div id="container">

<div class="top_menu">
  <li><a href='/exercise/' class="top_menu_button">Упражнения<i class="fa fa-angle-down"></i></a>
    <ul class="submenu">
      <li><a href="">Item 1</a></li>
      <li><a href="">Item 2</a></li>
    </ul>
  </li>
    
  <a href='/rules/' class="top_menu_button">Правила</a>
  <a href="/students/" class="top_menu_button">Учащиеся</a>
</div>

<div id="content">


      {%block content%}
      {%endblock%}
</div>
<div id="foot">

    <a onclick="goBack()"> <span class="glyphicon glyphicon-thumbs-down red"></span></a>
<script>
  function goBack() {
    window.history.back()
  }
</script>
</div>
</div>
  </body>
</html>
