{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static '/css/arithmetic.css' %}">
<title>Проверка арифметики</title>
</head>
<body style="background: rgba(255,230,179,1);">
  <body>

      {%block content%}
      {%endblock%}

  </body>
</html>
