{%extends 'arithmetic/base.html'%}

{%block content%}
<div class="equations_question">
  <p>{{QWStext}}</p>
</div>

<div class="selection_button">
  <div class="equations_selection">
    {%for selection in QWSans%}
    <input type="radio" id="{{selection.id}}" name="answer" value="{{selection.selection_correct}}"> <label for="{{selection.id}}">{{selection.selection_text}}</label><br>
    {%endfor%}
  </div>

  <div>
    <button onclick="check()" class="equations_button">Выбрать</button>

    <span id="log"> </span>
    <script>
      var jright = {{pre_right}};
      var jtotal = {{pre_total}}+1;
      function check(){
        if (document.querySelector('input[name=answer]:checked').value=="False")
        {
          document.getElementById('log').innerHTML=' <font color="red"> &#10008 </font> ';
          document.location.href = "{% url 'formulas' pk=subject pre_right=pre_right pre_total=pre_total|add:"1"%}";
        }
        else
        {
          document.location.href = "{% url 'formulas' pk=subject pre_right=pre_right|add:"1" pre_total=pre_total|add:"1"%}";
        }
      }
    </script>
  </div>
</div>
<p>Всего верных {{pre_right}} из {{pre_total}}</p>
{%endblock%}
