{%extends 'arithmetic/base.html'%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
<!-- MathJax configuration -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true,
        processEnvironments: true
    },
    // Center justify equations in code and markdown cells. Elsewhere
    // we use CSS to left justify single line equations in code cells.
    displayAlign: 'center',
    "HTML-CSS": {
        styles: {'.MathJax_Display': {"margin": 0}},
        linebreaks: { automatic: true }
    }
});
</script>
{%block content%}
<div class="rule_detail">
  {% for block in rule.block_set.all %}
  {{block.block_text|linebreaksbr}}
  {% if block.block_image %}
  <center><img src= "{{MEDIA_URL}}{{block.block_image}}" alt="Image" width="40%" justify="center"></center>
  {% endif %}

  {% endfor %}
</div>


{%endblock%}
