.exercise{
  padding-top: 20%;
  text-align: center;
  font-size: 50px;
}

.button{
  padding-top: 20px;
  padding-left: 40%;
}

.answer{
  padding-left: 40%;
}

.top_menu{
  background-color: #ffffc2;
  padding: 20px;
  word-spacing: 30px;
  padding-left: 40px;
  font-size: 20px;
}

a{
  color: black;
}

.back{
  
}
